body {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(90deg, #88132F 0%, #101010 42.07%, #101010 100%);
}

.card {
    background: url(/assets/Rectangle2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    padding: 20px;
}

.img-fluid {
    padding-bottom: 200;
    padding-top: -200px;
    max-width: 100%;
}  

@media screen and (max-width: 768px) {
    .card {
        background: url(/assets/Rectangle1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: none;
    }
    .album {
        padding: 60px;
    }
}

.list-group-item {
    transition: 0.5s;
    border-radius: 0px;
    border-width: 1px;
    border-bottom-color: #1f0f0f;
    color: aliceblue;
}

.list-group-item:hover {
    outline: 4px solid #ad1539;
    z-index: 1;
}

.list-group-item-end {
    border-bottom-color: aliceblue;
}

.play-active {
    margin-left: 26px;
    width: 1px;
    height: 1px;
    box-shadow: 0px 30px 45px 30px #c51037;
    border-width: 0px 0px 1px 0px;
}

.progressTime {
    width: 300px;
}

.progress-bar {
    background-color: #c51037;
}



