footer {
    margin-top: 30vh;
    color: aliceblue;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.pod {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.085em;
    
    color: #B0B0B0;
}

footer img {
    width: 100px;
}

footer .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.085em;
    
    color: #B0B0B0;
}